@font-face {
  font-family: "brickpixel";
  src: url("/Brick_Pixel/.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stoneSlab";
  src: url("/Stone_Slab.ttf") format("truetype");
  font-weight: normal;
  /* Adjust if needed */
  font-style: normal;
  /* Adjust if needed */
}

@font-face {
  font-family: "gameTape";
  src: url("/Game_Tape.ttf") format("truetype");
  font-weight: normal;
  /* Adjust if needed */
  font-style: normal;
  /* Adjust if needed */
}



.galleryclouds {
  margin: 0;
  z-index: -10;
  position: relative;
  
}

.galleryclouds1 {
  height: 10rem;
  opacity: 0.4;
}

.galleryclouds2 {
  height: 10rem;
  opacity: 0.4;
}
.galleryHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.heading {
  z-index: 100;
  position: absolute;
  top: 20%;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: brickPixel;
  text-align: center;
  filter: drop-shadow(0 0px 35px #fe3988b4);
  font-size: calc(5vw + 2rem);
  color: rgba(254, 57, 137, 1);
  z-index: 100;
  line-height: calc(5vw + 2rem);;
  /* margin-bottom: 5vw; */
}

.topsubheading {
  font-family: "stoneslab";
  text-align: center;
  width: 500px;
  font-size: calc(1.6vw);;
  /* position: absolute; */
  /* top: 40%; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* display: flex;
  justify-content: center; */
  z-index: 10000;
  color: #ffebd3;
  margin-top: -3vw;
  /* margin-top: 1rem; */
  /* padding-top: 4vw; */
}


.contents {
  color: #ffebd3;
  opacity: 54%;
  font-family: stoneSlab;
  font-size: calc(0.5vw + 0.4rem);;
/*  
  padding-top: 50%; */
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  z-index: 1000;
  width: 84vw;
  /* margin-left: 8vw; */
}

.oneline {
  font-family: gameTape;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 20px;
  color: #ffebd3;
}
@media (max-width: 768px) and (min-width: 500px) {
 .contents{
  font-size:calc(0.75vw + 0.5rem);;
 }
 .topsubheading{
  font-size: calc(1.5vw + 0.75rem);
 }
 .heading{
  font-size: calc(8vw + 3rem);
    line-height: calc(8vw + 3rem);
 }

}

@media (max-width: 500px) and (min-width:30px) {
  .contents{
    font-size:calc(1vw + 0.5rem);
    /* padding-top: 100px; */
   }
   .topsubheading{
    font-size: calc(1.5vw + 0.75rem);
    width:90%;
   }
   .heading{
    font-size: clamp(10vw, calc(10vw + 2rem), calc(11vw+3rem));;
    line-height: calc(10vw + 2rem);
    max-width: 90vw;
    /* height: auto; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
   }
  
}
/* @media (max-width: 370px) {
  .contents{
    font-size:1rem;
    padding-top: 100px;
   }
   .topsubheading{
    width:95%;
    top:56%;
    
   }
   .heading{
    font-size: 6rem;
   }
  
} */