@font-face {
  font-family: "brickpixel";
  src: url("/Brick_Pixel/.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stoneSlab";
  src: url("/Stone_Slab.ttf") format("truetype");
  font-weight: normal;
  /* Adjust if needed */
  font-style: normal;
  /* Adjust if needed */
}

@font-face {
  font-family: "gameTape";
  src: url("/Game_Tape.ttf") format("truetype");
  font-weight: normal;
  /* Adjust if needed */
  font-style: normal;
  /* Adjust if needed */
}



.kartavyaclouds1 {
  margin: 0;
  z-index: -10;
  position: relative;
  opacity: 0.4;
}

.kartavyaclouds2 {
  height: 10rem;
  opacity: 0.4;
}


.heading {
  z-index: 100;
  position: absolute;
  top: 30%;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: brickPixel;
  text-align: center;
  filter: drop-shadow(0 0px 35px #fe3988b4);
  font-size: 7rem;
  color: rgba(254, 57, 137, 1);
  z-index: 100;
}

.topsubheading {
  font-family: "stoneslab";
  text-align: center;
  width: 500px;
  font-size: 1.2rem;
  position: absolute;
  top:65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  color: #ffebd3;
  margin-top: 1rem;
}


.contents {

  color: #ffebd3;
  opacity: 54%;
  font-family: stoneSlab;
/*  
  padding-top: 50%; */
  width:90%;
  transform: translateX(5%);

  padding-top: 80px;
  z-index: 1000;
  text-align: center;
}

@media (max-width: 768px) and (max-width: 550px) {
 .contents{
  font-size:1rem;
 }
 .heading{
  font-size: 5.6rem;
 }


}
@media (max-width: 550px) and (max-width: 500px) {
  .contents{
   font-size:1rem;
  }
  .topsubheading{
    width:95%;
   }
  .heading{
    font-size: 5.4rem;
   }
 
 }

@media (max-width: 500px) and (min-width:400px) {
  .contents{
    font-size:1rem;
 
   }
   .topsubheading{
    width:90%;
   }
   .heading{
    font-size: 5.2rem;
   }
  
}


@media (max-width: 400px) and (min-width:380px) {
  .contents{
    font-size:1rem;
  
   }
   .topsubheading{
    width:90%;
   }
   .heading{
    font-size: 4.8rem;
   }
  
}
@media (max-width: 380px) and (min-width:340px) {
  .contents{
    font-size:0.9rem;
    /* padding-top: 100px; */
    padding-top: 100px;
   }
   .topsubheading{
    width:90%;
    padding-bottom: 30px;
   top:60%;
   }
   .heading{
    font-size: 4.4rem;
   }
  
}
@media (max-width: 340px) {
  .contents{
    font-size:0.8rem;
    /* padding-top: 50px; */
    padding-top:70px ;
   }
   .topsubheading{
   
  top:60%;
    padding-bottom: 30px;
 
    
   }
   .heading{
    font-size: 4rem;
   }
  
}