<<<<<<< Updated upstream


  .popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popupContent {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
   
   
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    scale:0.7;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
   
  }
  .arrowButtonLeft,
  .arrowButtonRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;
    border: none;
    z-index: 1;
    border-radius: 50%;
    
  }
  
  .arrowButtonLeft {
    left: 10px;
  }
  
  .arrowButtonRight {
    right: 10px;
  }
  
  .scrollIndicator {
    display: flex;
    overflow-x: auto;
    justify-content: center;
   
  }
  
  .scrollItem {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display:none
  }
/* 
  .scrollIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .scrollItem {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    
  }
  
  .scrollItem.active {
    background-color: red; 
  }
   */


   .scrollIndicator {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 260px;
    gap: 10px;
  }
  
  .scrollItem {
    width: 200px; 
    height: 10px;
    background-color:#FFEBD3;
    cursor: pointer;
   
    
  }
  
  .scrollItem.active {
    background-color: #FE3989; 
  }
  @media (max-width:1300px) and (min-width:1200px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 200px;
      gap: 10px;
    }
  }


  @media (max-width:1200px) and (min-width:1100px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 190px;
      gap: 10px;
    }
  }


  
  @media (max-width:1100px) and (min-width:1000px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 45%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 35%;
      height: 45%;
      padding: 20px;
      
      border-radius: 10px;
      overflow: hidden;
    }
    .popupContent {
      position: relative;
      width: 50%;
      height: 50%;
      overflow: hidden;
     
     
    }
    
    .backgroundImage {
      position: absolute;
      top: 0;
      scale:0.7;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain; 
     
    }
  }
  
  @media (max-width:1000px) and (min-width:900px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  
  @media (max-width:900px) and (min-width:850px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 55%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:850px) and (min-width:800px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 55%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:800px) and (min-width:700px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:700px) and (min-width:600px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 53%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
/* 
  @media (max-width:600px) and (min-width:500px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 210px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 35%;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  } */
  @media (max-width:600px) and (min-width:580px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 66%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:580px) and (min-width:570px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 200px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 230px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  @media (max-width:570px) and (min-width:500px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height:250px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  @media (max-width:500px) and (min-width:450px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 230px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:450px) and (min-width:390px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 60%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 230px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:390px) and (min-width:340px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 60%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 85%;
      height: 230px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:340px) and (min-width:320px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 160px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 85%;
      height: 230px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:320px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 120px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 200px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  }
=======


  .popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popupContent {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
   
   
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    scale:0.7;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
   
  }
  .arrowButtonLeft,
  .arrowButtonRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;
    border: none;
    z-index: 1;
    border-radius: 50%;
    
  }
  
  .arrowButtonLeft {
    left: 10px;
  }
  
  .arrowButtonRight {
    right: 10px;
  }
  
  .scrollIndicator {
    display: flex;
    overflow-x: auto;
    justify-content: center;
   
  }
  
  .scrollItem {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display:none
  }
/* 
  .scrollIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .scrollItem {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    
  }
  
  .scrollItem.active {
    background-color: red; 
  }
   */


   .scrollIndicator {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 260px;
    gap: 10px;
  }
  
  .scrollItem {
    width: 200px; 
    height: 10px;
    background-color:#FFEBD3;
    cursor: pointer;
   
    
  }
  
  .scrollItem.active {
    background-color: #FE3989; 
  }
  @media (max-width:1300px) and (min-width:1200px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 200px;
      gap: 10px;
    }
  }


  @media (max-width:1200px) and (min-width:1100px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 190px;
      gap: 10px;
    }
  }


  
  @media (max-width:1100px) and (min-width:1000px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 45%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 35%;
      height: 45%;
      padding: 20px;
      
      border-radius: 10px;
      overflow: hidden;
    }
    .popupContent {
      position: relative;
      width: 50%;
      height: 50%;
      overflow: hidden;
     
     
    }
    
    .backgroundImage {
      position: absolute;
      top: 0;
      scale:0.7;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain; 
     
    }
  }
  
  @media (max-width:1000px) and (min-width:900px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }
  
  @media (max-width:900px) and (min-width:850px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 55%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
   
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:850px) and (min-width:800px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 55%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 55%;
      height: 300px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:800px) and (min-width:700px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 300px;
      padding: 20px;
   
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:700px) and (min-width:600px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 53%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 300px;
      padding: 20px;
      
      border-radius: 10px;
      overflow: hidden;
    }
  }
/* 
  @media (max-width:600px) and (min-width:500px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 210px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 35%;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
  } */
  @media (max-width:600px) and (min-width:580px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 66%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 300px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:580px) and (min-width:570px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 200px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 65%;
      height: 230px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }

  @media (max-width:570px) and (min-width:500px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height:250px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }

  @media (max-width:500px) and (min-width:450px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 50%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 230px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:450px) and (min-width:390px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 60%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 230px;
      padding: 20px;
  
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:390px) and (min-width:340px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 60%;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 85%;
      height: 230px;
      padding: 20px;
    
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:340px) and (min-width:320px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 160px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 85%;
      height: 230px;
      padding: 20px;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  @media (max-width:320px){
    .scrollIndicator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 120px;
      gap: 10px;
    }
    .popupContent {
      position: relative;
      width: 75%;
      height: 200px;
      padding: 20px;
      border-radius: 10px;
      overflow: hidden;
    }
  }
>>>>>>> Stashed changes
