.gallery{
  padding:30px;
}
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
 
  flex-direction: row;
  column-gap: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  height:86vh;
}


.rightContainer {
  display: grid;
  display:flex;
  flex-direction: column;
 row-gap: 20px;
  width: 38%;
  /* width: 40%; */
}
.leftContainer{
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  display:flex;
  flex-direction: column;
 row-gap: 20px;
  width: 38%;
}
.image{
  width:100%;
  height:100%;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.largeImage {
  padding-bottom: 20px;
  width:81%
 
}

.smallImage {
  width:65%
 
}
.hideContainer{
  display:none;
}

.card2 {
  width: 100%;
}
.card3{height:100%;
  width:80%;
  ;}



.cardcss2{
width:100%;
height:100%;
}
.cardcss3{
  width:100%;
  height:100%;
  }


  .block1{
    display:flex;
    flex-direction:row;
    column-gap:20px;
    position:relative
  }
 


  .block3{
    display:flex;
    flex-direction:row;
    column-gap:20px;
    position:relative
  }
  .block4{
    display:flex;
    flex-direction:row;
    column-gap:20px;
    position:relative;
  }

  .block2{
    display:flex;
    flex-direction:row;
    column-gap:20px;
    position:relative;
  }


.block2  .cardcss3{
  position: relative; 
  top: -11rem;
 }
 .block4  .cardcss3{
  position: relative; 
  top: -11rem;
 }
 .LargeCardcss{
  height:100%;
  width:100%;
 }

 .LargeCardcss{
  height:100%;
 }

 @media (max-width:1300px) and (min-width:1150px){
  .block2  .cardcss3{
    position: relative; 
    top: -9rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -9rem;
   }
   .row{
    height:76vh;
   }
   
 }

 
 @media (max-width:1150px) and (min-width:1080px){
  .block2  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .row{
    height:74vh;
   }
   .largeImage{
    width:78%;
    padding-bottom: 13px;
   }
 }

 @media (max-width:1080px) and (min-width:970px){
  .block2  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .row{
    height:68vh;
   }
   .largeImage{
    width:78%;
    padding-bottom: 20px;
   }
 }
 @media (max-width:970px) and (min-width:950px){
  .block2  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7rem;
   }
   .row{
    height:64vh;
   }
   .largeImage{
    width:78%;
    padding-bottom: 13px;
   }
 }



 
 @media (max-width:950px) and (min-width:890px){
  .block2  .cardcss3{
    position: relative; 
    top: -6.5rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -6.5rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    row-gap: 10px;
   }
   .largeImage{
    padding-bottom:10px;
   }
   .row{
    height:57vh;
   }
 }
  
 @media (max-width:890px) and (min-width:800px){
  .block2  .cardcss3{
    position: relative; 
    top: -5.5rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -5.5rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    row-gap: 10px;
   }
   .largeImage{
    width:78%;
    padding-bottom:10px;
   }
   .row{
    height:51vh;
   }
 }


 
 @media (max-width:800px) and (min-width:760px){
  .block2  .cardcss3{
    position: relative; 
    top: -4.8rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -4.8rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    
    row-gap: 10px;
   }
   .largeImage{
    width:78%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:48vh;
    padding-left: 0px;
   }
 }

 
 @media (max-width:760px) and (min-width:700px){
  .block2  .cardcss3{
    position: relative; 
    top: -4.8rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -4.8rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    
    row-gap: 10px;
   }
   .largeImage{
    width:78%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:44vh;
    padding-left: 0px;
   }
 }

 
 
 @media (max-width:700px) and (min-width:660px){
  .block2  .cardcss3{
    position: relative; 
    top: -4.4rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -4.4rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    row-gap: 10px;
   }
   .largeImage{
    width:76%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:40vh;
    padding-left: 0px;
   }
 }
 
 
 @media (max-width:660px) and (min-width:620px){
  .block2  .cardcss3{
    position: relative; 
    top: -4.4rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -4.4rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    row-gap: 10px;
   }
   .largeImage{
    width:76%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:38vh;
    padding-left: 0px;
   }
 }
 
 @media (max-width:620px) and (min-width:580px){
  .block2  .cardcss3{
    position: relative; 
    top: -4rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -4rem;
   }
   .rightContainer{
    row-gap: 10px;
   }
   .leftContainer{
    row-gap: 10px;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:36vh;
    padding-left: 0px;
   }
 }
 
 @media (max-width:580px) and (min-width:550px){
  .block2  .cardcss3{
    position: relative; 
    top: -10.7rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -10.7rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:85vh;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 20px;
   
    width:100%;
    height:85vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }


 @media (max-width:550px) and (min-width:520px){
  .block2  .cardcss3{
    position: relative; 
    top: -9.8rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -9.8rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:80vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:80vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }


 @media (max-width:520px) and (min-width:490px){
  .block2  .cardcss3{
    position: relative; 
    top: -9.5rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -9.5rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:74vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:74vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }


 @media (max-width:490px) and (min-width:470px){
  .block2  .cardcss3{
    position: relative; 
    top: -8.1rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -8.1rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:72vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:72vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }


 @media (max-width:470px) and (min-width:450px){
  .block2  .cardcss3{
    position: relative; 
    top: -7.8rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7.8rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:69vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:69vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:450px) and (min-width:430px){
  .block2  .cardcss3{
    position: relative; 
    top: -7.5rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7.5rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:66vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:66vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:430px) and (min-width:410px){
  .block2  .cardcss3{
    position: relative; 
    top: -7.2rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7.2rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:62vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:62vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:410px) and (min-width:390px){
  .block2  .cardcss3{
    position: relative; 
    top: -7.1rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -7.1rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:60vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:60vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }


 @media (max-width:390px) and (min-width:370px){
  .block2  .cardcss3{
    position: relative; 
    top: -6.7rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -6.7rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:56vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:56vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:370px) and (min-width:350px){
  .block2  .cardcss3{
    position: relative; 
    top: -6.1rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -6.1rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:51vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:51vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:350px) and (min-width:330px){
  .block2  .cardcss3{
    position: relative; 
    top: -5.8rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -5.8rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:47vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:47vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }



 @media (max-width:330px) and (min-width:310px){
  .block2  .cardcss3{
    position: relative; 
    top: -5.3rem;
   }
   .block4  .cardcss3{
    position: relative; 
    top: -5.3rem;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   .rightContainer{
    display: none;
   
   }
   .leftContainer{
    width:100%;
    height:45vh;
    row-gap: 10px;
   }
   .hideContainer{
    display:flex;
    display:flex;
    flex-direction: column;
   row-gap: 10px;
   
    width:100%;
    height:45vh;
   }
   .middleContainer{
    display:none;
   }
   .largeImage{
    width:75%;
    padding-bottom:10px;
   }
   .row{
    position:relative ;
    height:auto;
    padding-left: 0px;
   }
 }

