.frame {
  width: 338px;
  height: 53px;
  background-image: url("/LoadingFrame.svg");
  background-size: 330px 52px;
  background-repeat: no-repeat;
  padding-left: 4px;
  z-index: 3;
}

.bar {
  background-image: url("/Union1.png");
  height: 45px;
  margin-top: 7.5px;
  margin-left: 6px;
  background-size: 307px 38px;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: fill 2s linear;
}

.textbox {
  display: inline-block;
  width: fit-content;
}

.text1 {
  width: 28ch;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 179px;
  }
  to {
    width: 205px;
  }
}

@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}

.loading {
  animation: typing 2s steps(28) infinite;
  @apply text-5xl font-semibold self-start overflow-hidden;
}
