* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.merch_home {
    background-color: #000014;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    /* position: absolute; */
}

.merch_text_home {
    width: 100%;
    height: auto;
}

.whiteTee {
    /* width: 100vw; */
    height: auto;
    justify-self: center;
    align-items: center;
    /* margin-top: 6vh; */
}

.whiteTee1 {
    /* margin-left: -40px; */
    transform: rotate(-45deg);
    /* margin-top: 40px; */
}

.dashContainer {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    height: fit-content;
}

.dashContainer> :first-child {
    position: absolute;
    top: 0;
    left: 12px;
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    z-index: 10;
    /* Send GridSketch to the background */
}
.dash_home {
    position: relative;
    z-index: 100; /* Ensure the image is above the GridSketch */
    width:100%;
  }
.merches {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap:-10px; */
}

.merch_btn_home {
    height: 6vh;
    justify-self: center;
    /* margin-top: 6rem; */
    /* margin-bottom: 6rem; */
    margin-top: 2vh;
    width: auto;
    /* margin-top: 30px; */
    /* margin-bottom: 100px; */
}

.mobile_text_home {
    display: none;
}

.tshirts {
    justify-self: center;
    scale: 1.3;
}

@media screen and (max-width:675px) {
    .mobile_text_home {
        display: block;
        width: 100%;
        height: auto;
    }

    .merch_text_home {
        display: none;
    }
}

@media screen and (max-width:1300px) {
    .tshirts {
        scale: 1;
    }
}

@media screen and (max-width:900px) {
    .tshirts {
        scale: 0.7;
    }
}