.main {
  width: 100vw;
  height: 100vh;
  background-image: url('/bg.svg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content outside the container is hidden */
}

.scrollcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center {
  font-family: "brickPixel";
  font-size: 5rem; /* Adjust the size as needed */
  font-weight: bold; /* Make the text thicker */
  color: #efb1d0; /* Pinkish color */
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 105, 180, 0.5), 
               0 0 10px rgba(255, 105, 180, 0.4), 
               0 0 15px rgba(255, 105, 180, 0.3),
               0 0 20px rgba(255, 105, 180, 0.2),
               0 0 25px rgba(255, 105, 180, 0.1);
  letter-spacing: 0.4vw;
}